fastapi[standard]
pydantic
jupyter
ipykernel
google-generativeai
langchain-openai
langchain 
langchain-core
langchain-community
langchain-groq
python-dotenv
langchain-google-genai
defusedxml
PyPDF
wikipedia
youtube_search
langchain_huggingface
chromadb
langchain_chroma
langgraph